# THIS FILE WAS CREATED BY ANSIBLE | LOCAL CHANGES MAY BE OVERWRITTEN
# ansible template: sysengquick.unix.git/templates/gitconfig.j2

[user]
    name = {{ git_user.name }}
    email = {{ git_user.email }}
{% if 'signingkey' in git_user %}
    signingkey = {{ git_user.signingkey }}
{% endif %}
{% for section in git_sections_final %}
[{{ section.key }}]
{{ section.value | indent(4, first=True) }}
{% endfor %}
