{% import "macros.j2" as macros -%}

# THIS FILE WAS CREATED BY ANSIBLE | LOCAL CHANGES MAY BE OVERWRITTEN
# ansible template: sysengquick.fedora.ssh/templates/config.j2

{# Generate Host and Match sections #}
{% for section in ('host', 'match') -%}

{# Construct variables for merge_options macro#}
{% set stockvar = 'ssh_' ~ section ~ '_options' %}
{% set extravar = stockvar ~ '_extra' %}
{% set skipvar = stockvar ~ '_skip' -%}

{# Generate final options #}
{% set final_options = macros.merge_options(vars[stockvar], vars[extravar], vars[skipvar]) | from_json -%}

{# Add section header and SSH options #}
{% for pattern, options in final_options.items() %}
{{ section | capitalize }} {{ pattern }}
{{ macros.ssh_options(options) }}
{% endfor %}
{% endfor -%}

{# Add SSH common options #}
# begin ssh common options
{% if ssh_common_options_final %}
Host *
{{ macros.ssh_options(ssh_common_options_final) }}
{%- endif %}
# end ssh common options
